.align-center{
    text-align: center;
}

.footer-css{
    font-family: cursive;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    right: 42%;
}

.text-css{
    font-family: cursive;
}

.grid-container{
    display: grid;
    grid-gap: 10px;
    background-color: #fafafa;
    padding: 10px;
    height: 74vh;
}

.grid-item1{
    background-color: rgba(211, 211, 211, 0.8);
    color: #000;
    grid-column: 1 /span 1;
    grid-row: 1;
}

.grid-item2{
    background-color: rgba(211, 211, 211, 0.8);
    color: #000;
    grid-column: 2 / span 3;
    grid-row: 1;
}

.align-mid{
    margin-left: 10em;
    margin-top: 25vh;
}

.align-grid-text{
    margin-left: 1em;
    margin-top: 1em;
    font-family: cursive;
    font-size: 14px;
}

